/* Lineas decorativas */
h1{
    font-size: 40px;
    display: inline-block;
    position: relative;
    color: rgb(11, 11, 53);
}
.card{
    
    border: 0px;
}

h1::after, h1::before{
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: currentColor;
    top: 0.6em;
}
 h1::before{
    left: -80px;
 }
 h1::after{
    right: -80px;
 }

 div{
     background-color: rgb(202, 209, 215);
    }

p{
    font-size: 17px;
}
/* header */
.btn{
    border-radius: 1.25rem;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: lightslategrey;
}
@media (max-width: 575px){
    .container{
        flex-direction: column;
        align-items: center;
    }
}
#fondobanner{
    background-color: rgb(64, 94, 121);
}
#fondoboton{
    background-color: white;
}
#iconos{
    
    background-color: lightslategrey;
    position: center;
    margin-right: 0.5em;
    
}
#logo{
    background-color: lightslategrey;
    width: auto;
    height: 70px;
}
#github, #linkedin, #facebook{
    width: 30px;
}
#Gmail1, #session{
    width: 35px;
}

/* Banner*/

@media(max-width: 575px){
    #banner{
        position: relative;
        width: 100%;
    }
    #boton-logo{
        position: absolute;
        right: 10px;
        top: 130px;
    }
    #boton-logo-guardar{
        position: relative;
        right: 10px;
        top: 230px;
    }
    #photo-preview{
        align-items: center;
        width: 100%;
    }
}

@media (min-width: 575px){
    #banner{
        position: relative;
        width: 100%;   
    }
    #boton-logo{
        position: absolute;
        right: 10px;
        top: 83px;
    }
    #boton-logo-guardar{
        position: absolute;
        right: 10px;
        top: 153px;
    }
    #photo-preview{
        width: 40%;
        align-items: center;
        width: 50%;
    }
}

/*foto de perfil*/
@media (min-width: 575px){
    #perfil{ 
        position: absolute;
        width: 25%;  
        left: 4%;  
        margin-top: -16%;
        }

}
@media (max-width: 575px){
    #perfil{
        position: relative;
        margin-top: -30%;
        width: 40%;
        left: 31%;
    }
}
#alineado{
    margin-top: 5%;
    text-align: center;
    margin-bottom: 10%;  
    
}
@media(max-width: 575px){
    #alineado-nom{
        margin-top: 5%;
        text-align: center;
        margin-bottom: 10%;
    }
}

@media(min-width: 575px){
    #alineado-nom{
        margin-top: 20%;
        background: center;
        text-align: center;
    }
}

#nombre{
    font-weight: bolder;
    font-size: 30px;
}

#nombre-1{
    font-size: 17px;
}
#frase{
   color: rgba(4, 71, 158, 0.692);
   font-weight: bolder;
}

/* Sobre mi*/
@media(max-width: 575px){
    #boton-sobre{
        position: absolute;
        margin: 105px;
        margin-top: 55px;
    }
    #boton-sobremy{
        position: relative;
        margin-top: center;
    }

}
@media(min-width: 575px){
    #boton-sobre{
        position: absolute;
        margin: 105px;
        margin-top: 60px;

    }
    #boton-sobremy{
        position: relative;
    }
}


/* Experiencia laboral */
@media (min-width: 575px){
    #bot-expe{
        position: relative;
        width: 0px;
        right: 15%;
        
    }
  
}
@media (max-width: 575px){
    #bot-expe{
        position: relative;
        width: 0px;
        right: 15%;
        
        
    }
    
}
ul{
    list-style-type: none;
}
#exp-456{
    max-width: 300px;
    box-shadow: 10px 10px 30px rgb(11, 11, 53);
    box-shadow: ejeX ejeY difumasion color;
    margin: 10px;
    flex-direction: inherit;
    background-color: rgb(202, 209, 215);
    
}


/* Educación*/

#logoEdu{
    position: absolute;
    width: 180px;
    background-position: center;
    box-shadow: 10px 10px 30px rgb(11, 11, 53);
    box-shadow: ejeX ejeY difumasion color;
}
@media (min-width: 575px){
    #logoEdu{ 
        position: absolute;
        width: 20%;
        left: 5%;  
        display: inline-block;
    }
}
@media (max-width: 575px){
    #logoEdu{
        position: relative;
        width: 35%;
        left: 33%;
        display: inline-block;
    }
}

/* Hard and soft */

@media (max-width: 575px){
    #skills{
        width: 10%;
                    
    }
    #boton-skill{
        margin: 3px;
        
        width: 20%;
    }

}
@media(min-width: 575px){
    #skills{

        width: 50%;
    }
    #boton-skill{
        margin: 3px; 
        padding: 0%;
        width: 40%; 
    }


}


/* proyectos */

#proyecto{
    margin-left: 5%;
}
#imgProyec{
    width: 200px;
    box-shadow: 10px 10px 30px rgb(11, 11, 53);
    box-shadow: ejeX ejeY difumasion color;
}
footer{
    display: flex;
    text-align: center;
    font-size: 12px;
    flex-direction: column;
}