<div class="row">
    <!-- Foto -->
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
         <img class= "img-fluid rounded-circle" src="../../../assets/imagenes/yo.jpeg" id="perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="alineado">
        <p id="nombre">Oliva José</p>
        <p>Programador Full Stack Developer Jr.</p>
    </div>
    <!-- Resumen -->
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7" id="alineado">
        <span>
            <h2>Acerca de mi</h2>  
            <p><br>Hola, me llamo José, soy programador Full Stack Jr.
            Me concidero muy curioso e investigador. 2 frases que me podrian
            representar seria:<br>
            </p>
            <p id="frase">"No creo en el fracaso, si en las dificultades. Lo imposible sólo nos demora 5 minutos más."
            <br>"La información tiene valor en el momento y formato correcto."
            </p>
        </span>
    </div>
</div>