<header>
    <div class="row">
        <!-- Barra -->
        <div id="logo">
            <img src="../../../assets/imagenes/APLogo.png"  id="logo">
            <ul id="iconos">
                <a href=""><img src="../../../assets/imagenes/github.png" id="github"></a>
                <a href=""><img src="../../../assets/imagenes/linkedin.png" id="linkedin"></a>
                <a href=""><img src="../../../assets/imagenes/facebook.png" id="facebook"></a>
                <a href=""><img src="../../../assets/imagenes/Gmail1.png" id="Gmail1"></a>
                <a href="" ><img src="../../../assets/imagenes/session.jpg" id="session"></a>
            </ul>
        </div>
        <!-- Banner -->
        <div id="banner">
            
        </div>

    </div>
</header>