<div class="row">
    <!-- Foto -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
         <img class= "img-fluid rounded-circle" src="../../../assets/imagenes/yo.jpeg" id="perfil">
         <button class="btn btn-outline-info" type="button" id="bot-perfil" routerLink="editphoto" *ngIf="isLogged"><i class="bi bi-pencil-square" ></i></button>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="alineado-nom">
        <p id="nombre">{{pers.apellido}} {{pers.nombre}}</p>
        <p id="nombre-1">{{pers.profesion}}</p>
        <button class="btn btn-outline-info" type="button" routerLink="/editarpersona" *ngIf="isLogged"><i class="bi bi-pencil-square" ></i>
        </button>
    </div>
    <!-- Resumen -->
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="alineado">

        <button class="btn btn-outline-info" id="boton-sobre" type="button" routerLink="editarsobremy" *ngIf="isLogged"><i class="bi bi-pencil-square" ></i></button>
        <span >
            <h1>Acerca de mi</h1>
            <p><br><br>{{pers.sobreMy}} <!-- Hola, mí nombre es José, soy programador Full Stack Jr.
             me considero curioso e investigador. Les presento 2 frases que podrían
             representarme:--><br><br>
            </p>
            <p id="frase"><!--"No creo en el fracaso, si en las dificultades.<br> Lo imposible sólo nos demora 5 minutos más."
            <br><br>"La información tiene valor en el momento y formato correcto."-->
            </p>
        </span>
    </div>
</div>

