<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="alineado">
        <h1>Hard & Soft Skills</h1>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2 id="alineado">Hard Skills</h2>
    </div>
    <!-- HTML -->
    <div class="col-sm-4 col-md-4 col-lg-3" id="skills">
        <circle-progress
            [percent]="85"
            [radius]="80"
            title="HTML 5"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <!-- Css -->
    <div  class="col-sm-4 col-md-4 col-lg-3" id="skills">
        <circle-progress
            [percent]="85"
            [radius]="80"
            title="Css"
            [showUnits]="false"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <!-- JS -->
    <div  class="col-sm-4 col-md-4 col-lg-3 col-xs-2" id="skills">
        <circle-progress
            [percent]="85"
            [radius]="80"
            title="Java Scrip"
            [showUnits]="false"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <!-- python -->
    <div  class="col-sm-4 col-md-4 col-lg-3 col-xs-2" id="skills">
        <circle-progress
            [percent]="85"
            [radius]="80"
            title="Python"
            [showUnits]="false"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <!-- bootstrap -->
    <div  class="col-sm-4 col-md-4 col-lg-3 col-xs-2" id="skills">
        <circle-progress
            [percent]="85"
            [radius]="80"
            title="Bootstrap"
            [showUnits]="false"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <!-- Sprint boot -->
    <div  class="col-sm-4 col-md-4 col-lg-3 col-xs-2" id="skills">
        <circle-progress
            [percent]="85"
            [radius]="80"
            title="Sprint Boot"
            [showUnits]="false"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <!-- MySql -->
    <div  class="col-sm-4 col-md-4 col-lg-3 col-xs-2" id="skills">
        <circle-progress
            [percent]="85"
            [radius]="80"
            title="MySql"
            [showUnits]="false"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <!-- GitHub-->
    <div  class="col-sm-4 col-md-4 col-lg-3 col-xs-2" id="skills">
        <circle-progress
            [percent]="85"
            [radius]="80"
            title="GitHub"
            [showUnits]="false"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <div>
        <h2 id="alineado">Soft Skill</h2>
    </div>
    <!-- Ingles -->
    <div  class="col-sm-4 col-md-4 col-lg-3 col-xs-2" id="skills">
        <circle-progress
            [percent]="85"
            [radius]="80"
            title="Ingles"
            [showUnits]="false"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <!-- comunicativo -->
    <div  class="col-sm-4 col-md-4 col-lg-3 col-xs-2" id="skills">
        <circle-progress
            [percent]="85"
            [radius]="80"
            title="Comunicación"
            subtitle="Efectiva"
            subtitleColor= rgb(68,68,68)
            subtitleFontSize="20"
            [showUnits]="false"
            
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <!-- Scrum -->
    <div  class="col-sm-4 col-md-4 col-lg-3 col-xs-2" id="skills">
        <circle-progress
            [percent]="85"
            [radius]="80"
            title="Scrum"
            [showUnits]="false"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <!-- Liderazgo -->
    <div  class="col-sm-4 col-md-4 col-lg-3 col-xs-2" id="skills">
        <circle-progress
            [percent]="85"
            [radius]="80"
            title="Liderazgo"
            [showUnits]="false"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <!-- Escucha Activa-->
    <div  class="col-sm-4 col-md-4 col-lg-3 col-xs-2" id="skills">
        <circle-progress
            [percent]="85"
            [radius]="80"
            title="Escucha Activa"
            [showUnits]="false"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <!-- adaptabilidad -->
    <div  class="col-sm-4 col-md-4 col-lg-3 col-xs-2" id="skills">
        <circle-progress
            [percent]="85"
            [radius]="80"
            title="Adaptabilidad"
            [showUnits]="false"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>

</div>