<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="alineado">
        <h1>Formación Academica</h1><br>
    </div>
    <div class="col-sm-12 col-md-10 col-lg-10 col-xs-10">
        <ul>
            <li>
                <img src="../../../assets/imagenes/logo-primaria.jpg" id="logoEdu">
                <div id="alineado">
                    <h4>Martin Miguel de Güemes</h4>
                    <p> (07/2011-10/2011) Estudios Primarios </p>  
                </div>
            </li>
            <li>
                <img src="../../../assets/imagenes/logo-secundaria.png" id="logoEdu">
                <div id="alineado">
                    <h4>IPEM N° 92 "Antonio Berni"</h4>
                    <p> (01/2014-07/2014)Estudios CBU</p>
                </div>
            </li>
            <li>
                <img src="../../../assets/imagenes/logo-delta.png"  id="delta-1">
                <div id="alineado">
                    <h4>Delta S.A.</h4>
                    <p> (05/2019-03/2020) Encargado<br><b>Descripción <br></b> Controlar la ejecución diaria del proyecto parte eléctrica.
                        Análisis, generar alternativas  y Resolución de posibles problematicas.</p>
                </div>
            </li>
        </ul>
    </div>

</div>