/* Lineas decorativas */
h1{
    display: inline-block;
    position: relative;
    color: rgb(11, 11, 53);
}

h1::after, h1::before{
    content: "";
    position: absolute;
    width: 90px;
    height: 3px;
    background-color: currentColor;
    top: 0.6em;
}
 h1::before{
    left: -120px;
 }
 h1::after{
    right: -120px;
 }

 div{
     background-color: rgb(107, 146, 143);
    }
/* header */
.btn{
    border-radius: 1.25rem;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
@media (max-width: 575px){
    .container{
        flex-direction: column;
        align-items: center;
    }
}
#iconos{
    position: center;
    margin-right: 0.5em;
    
}
#logo{
    width: auto;
    height: 70px;
}
#github, #linkedin, #facebook{
    width: 30px;
}
#Gmail1, #session{
    width: 35px;
}

#banner{
    min-height: 30rem;
    background-image: url("../src/assets/imagenes/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  center;
}
@media (min-width: 575px){
    #banner{
        min-height: 20rem auto;
        min-width: 10rem ;
    }
}
/*foto de perfil*/
@media (min-width: 575px){
    #perfil{ 
        position: absolute;
        width: 25%;  
        left: 2%;  
        margin-top: -16%;
        }
}
@media (max-width: 575px){
    #perfil{
        position: relative;
        margin-top: -30%;
        width: 40%;
        left: 33%;
    }
}
#alineado{
    margin-top: 5%;
    text-align: center;
    margin-bottom: 10%;  
    
}
#nombre{
    font-weight: bolder;
    font-size: 24px;
}
#frase{
   color: darkgreen;
}
/* logo empresa */
@media (min-width: 575px){
    #logoEmpresa{ 
        position: absolute;
        width: 35%;  
        left: 5%;  
        display: inline-block;
    }
}
@media (max-width: 575px){
    #logoEmpresa{
        position: relative;
        width: 30%;
        left: 33%;
        display: inline-block;
    }
}
ul{
    list-style-type: none;
}
#keblar-1{
    display: inline-block;
    width: 150px;
    background-position: center;
}
#delta-1{
    display: inline-block;
    margin-left: 50px;
}

/* Educación*/

#logoEdu{
    position: absolute;
    width: 180px;
    background-position: center;
    box-shadow: 10px 10px 30px rgb(11, 11, 53);
    box-shadow: ejeX ejeY difumasion color;
}
@media (min-width: 575px){
    #logoEdu{ 
        position: absolute;
        width: 20%;
        left: 5%;  
        display: inline-block;
    }
}
@media (max-width: 575px){
    #logoEdu{
        position: relative;
        width: 35%;
        left: 33%;
        display: inline-block;
    }
}

/* Hard and soft */

@media (max-width: 575px){
    #skills{
        width: 200px;
    }
}

/* proyectos */

#proyecto{
    margin-left: 5%;
}
#imgProyec{
    width: 200px;
    box-shadow: 10px 10px 30px rgb(11, 11, 53);
    box-shadow: ejeX ejeY difumasion color;
}
footer{
    display: flex;
    text-align: center;
    font-size: 12px;
    flex-direction: column;
}