<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="alineado">
        <h1>Experiencia Laboral</h1>
    </div>
    <div>
        <ul>
            <li>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="logoEmpresa">
                    <img src="../../../assets/imagenes/logo-keblar.png" id="keblar-1">
                </div>
                    <h2 id="alineado">Keblar S.A.</h2>
                    <p id="alineado"> (07/2011-10/2011) Operario<br><b>Descripción <br></b>Colocación y conección de tableros. 
                                        montado de sistema de bandejas para puesto de trabajo.  </p>
            </li>
            <li>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="logoEmpresa">
                    <img src="../../../assets/imagenes/Riva_Logo.png" id="keblar-1">
                </div>
                    <h2 id="alineado">Rivia SRL</h2>
                    <p id="alineado"> (01/2014-07/2014)Operario<br><b>Descripción <br></b> Ejecución del proyecto eléctrico acorde a la planificación.</p>
            </li>

            <li>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="logoEmpresa">
                    <img src="../../../assets/imagenes/logo-delta.png"  id="delta-1">
                </div>
                <h2 id="alineado">Delta S.A.</h2>
                <p id="alineado"> (05/2019-03/2020) Encargado<br><b>Descripción <br></b> Controlar la ejecución diaria del proyecto parte eléctrica.
                    Análisis, generar alternativas  y Resolución de posibles problematicas.</p>

            </li>
        </ul>
    </div>

</div>
