<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="alineado">
        <h1>Proyectos Realizados</h1>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6" id="proyecto">
        <h2><a href="https://github.com/bangint/Proyecto-Integrador-Portfolio-Web">Portafolio Web</a></h2>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8 col-xs-8" id="alineado">
        <p><br>Trabajo integrador realizado para el programa "Argentina Programa". 
            El proyecto se basa en la creacion de una aplicacipn web full stack demostrando las tecnologias conocidas.
        </p><br>
        <img src="../../../assets/imagenes/logo_proyecto.png" id="imgProyec">
    </div>
</div>
